<!-- analytics/dashboard.html -->
{% extends "store/base.html" %}

{% block title %}Real-Time Analytics Dashboard{% endblock %}

{% block extra_css %}
    <!-- Bootstrap CSS (link to your Bootstrap CSS file) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Real-Time Analytics Dashboard</h1>
                
                <h2>Total Sales: {{ total_sales }}</h2>
                
                <h2>Top Searches:</h2>
                <ul class="list-group">
                    {% for behavior in top_searches %}
                    <li class="list-group-item">{{ behavior.user.username }} searched for "{{ behavior.query }}"</li>
                    {% endfor %}
                </ul>
                
                <h2 class="mt-4">Top Social Media Interactions:</h2>
                <ul class="list-group">
                    {% for interaction in top_interactions %}
                    <li class="list-group-item">{{ interaction.user.username }} interacted with {{ interaction.product.name }} on {{ interaction.platform }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <br><br><br>
{% endblock %}
